---
const siteName = 'Digital Garden'
const {pageTitle} = Astro.props;

const allPosts = await Astro.glob("../pages/posts/*.md") ;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteName} : {pageTitle}</title>
	</head>
	<body>

        <slot/>

        {
            allPosts.map((post) => {
                return (
                    <div>
                        <a href={post.url}>{post.frontmatter.title}</a>

                    </div>
                )
            })
        }


		
	</body>
</html>
